-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

= javascript_include_tag "/javascripts/publisher.js"
= javascript_include_tag "/javascripts/markitup/jquery.markitup.js"
= javascript_include_tag "/javascripts/markitup/sets/markdown/set.js"
%link{:rel => 'stylesheet', :type => "text/css", :href => '/javascripts/markitup/skins/simple/style.css'}
%link{:rel => 'stylesheet', :type => "text/css", :href => '/javascripts/markitup/sets/markdown/style.css'}

:javascript
  Diaspora.I18n.loadLocale(#{get_javascript_strings_for(current_user.language).to_json}, "#{current_user.language}");
  $(document).ready(function() 
  {
  $(".trigger").click(function(){
  $(".panel").toggle("fast");
  $(this).toggleClass("active");
  return false;
  });
  $(".publishertrigger").click(function(){ 
  $(".publisherpanel").toggle("fast");
  $(this).toggleClass("active");
  return false;
  });
  $('#status_message_fake_text').markItUp(mySettings);
  Publisher.open();
  Publisher.bookmarklet = false;
  $("#publisher").bind('ajax:success', function(){
  Publisher.clear();
  Publisher.close();
  $(".publisherpanel").toggle("slow");
  Publisher.open();
  $('input.button')[0].removeAttribute('disabled');
  });
  $('input.button')[0].removeAttribute('disabled');
  });

.container{:style => "position:relative;"}
  - if !current_user
    = link_to image_tag('logo_small.png', :style => 'z-index: 10;position:absolute;top:5px;'), "/stream" 
  - elsif (current_user || !@landing_page)
    = link_to image_tag('logo_small.png', :style => 'z-index: 10;position:absolute;top:5px;'), "/stream" 

  - if !current_user
    %ul#landing_nav
      %li= link_to t('.login'), new_user_session_path, :class => 'login'

  - elsif (current_user || !@landing_page)

    .panel
      = image_tag 'icons/tagcloud.png', :style => "width: 19px; height: 19px; float:left;margin:10px 10px 10px 10px; vertical-align: middle;", :id => "notification-flag", :alt => t('users.getting_started.hashtag_explanation')
      %h4{:style => "color:white; vertical-align: middle; padding: 10px; 10px; 10px; 10px;"}
        = t('users.getting_started.hashtag_explanation')
      %hr{:style => "-webkit-box-shadow:0 0 3px rgba(20,20,20,0.5); -moz-box-shadow:0 0 3px rgba(20,20,20,0.5); box-shadow:0 0 3px rgba(20,20,20,0.5);"}
      %p{:style => "font-size: 12px; padding-left: 25px; padding-right: 25px; padding-bottom: 5px; padding-top: 0px; text-align: justify"}
        - ActiveRecord::Base.connection.select_values('select name, count(name) as counter from tags LEFT JOIN taggings ON taggings.tag_id = tags.id WHERE created_at > DATE_SUB(CONCAT(CURDATE(), \' 00:00:00\'), INTERVAL '+ AppConfig[:trends_hours] +' HOUR) AND name NOT LIKE \'%rss%\' GROUP BY name ORDER BY counter DESC, name ASC LIMIT 0,250;').each do |tagname|
          = link_to "#"+ "#{tagname}", tag_path(:name => tagname), :class => "tag_selector"
          &nbsp;&nbsp;

    .publisherpanel
      #new_status_message_pane
        - @aspect = :all
        - @aspects = current_user.aspects
        - @aspect_ids = @aspects.map{|x| x.id}
        - if !request.url.include? '/notifications'
          = render :partial => 'shared/publisher', :locals => { :aspect => @aspect, :selected_aspects => @aspects,  :aspect_ids => @aspect_ids }

    #global_search{:style => "z=index:0;"}
      = form_tag(people_path, :method => 'get', :class => "search_form") do
        = text_field_tag 'q', params[:q], :class => "search_box", :style => "margin-left: 210px; margin-top: 4px; padding-left: 10px; width: 140px; padding-right: 10px; border: none; -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5); -moz-box-shadow:0 1px 2px rgba(0,0,0,0.5); box-shadow:0 1px 2px rgba(0,0,0,0.5); font-size: 10px; font-family: Arial, sans-serif; -webkit-border-radius: 1em; -moz-border-radius: 1em; border-radius: 1em; filter:alpha(opacity=65); -moz-opacity: 0.65; opacity: 0.65;", :placeholder => t('find_people'), :type => 'search', :results => 15

    #nav_badges
      #stream_badge.badge
        = link_to multi_path, :title => t('streams.multi.title') do
          = image_tag 'icons/stream.png', :id => "notification-flag", :alt => t('streams.multi.title')

      #notification_badge.badge
        = link_to notifications_path, :title => new_notification_text(@notification_count) do
          = image_tag 'icons/notifications_grey.png', :id => "notification-flag", :alt => new_notification_text(@notification_count)
          .badge_count{:class => ("hidden" if @notification_count == 0)}
            = @notification_count

      #message_inbox_badge.badge
        = link_to conversations_path, :title => new_message_text(@unread_message_count) do
          = image_tag 'icons/mail_grey.png', :alt => new_message_text(@unread_message_count)
          .badge_count{:class => ("hidden" if @unread_message_count == 0)}
            = @unread_message_count

      - if !request.url.include? '/notifications'
        #publisher_badge.badge
          = link_to "#", :class => "publishertrigger", :title => t('bookmarklet.post_something').titleize do
            = image_tag 'icons/publisher.png', :id => "notification-flag", :alt => t('bookmarklet.post_something').titleize

      #tagcloud_badge.badge
        = link_to "#", :class => "trigger", :title => t('users.getting_started.hashtag_explanation') do
          = image_tag 'icons/tagcloud.png', :id => "notification-flag", :alt => t('users.getting_started.hashtag_explanation') 

      #logout_badge.badge
        = link_to destroy_user_session_path, :title => t('.logout') do
          = image_tag 'icons/logout.png', :id => "notification-flag", :alt => t('.logout')

    #notification_dropdown
      .header
        .right
          = link_to t('notifications.index.mark_all_as_read'), read_all_notifications_path
          \|
          = link_to t('.view_all'), notifications_path, :id => "view_all_notifications"
        %h4
          = t('.recent_notifications')
      .notifications
        .ajax_loader
          = image_tag("ajax-loader.gif")

    #hovercard_container
      #hovercard
        %img.avatar
        %h4
          %a.person
        %p.handle
        #hovercard_dropdown_container

        .hovercard_footer
          .footer_container
            .hashtags

    %ul#user_menu.dropdown
      %li
        .right
          &#9660;
        .avatar
          = owner_image_tag(:thumb_small)
        = link_to current_user.name, '#', :title => current_user.diaspora_handle
      %li= link_to t("streams.multi.title"), multi_path
      %li= link_to t('streams.mentions.title'), mentions_path
      %li= link_to t('streams.comment_stream.title'), comment_stream_path
      %li= link_to t('streams.like_stream.title'), like_stream_path
      %li= link_to t('.profile'), local_or_remote_person_path(current_user.person)
      %li= link_to t('_contacts'), contacts_link
      %li= link_to t('.settings'), edit_user_path
      -if current_user.admin?
        %li= link_to t('.admin'), user_search_path
      %li= link_to t('.logout'), destroy_user_session_path

  #lightbox
    #lightbox-content
      = link_to "[x] close", '#', :id => 'lightbox-close-link'
      %img#lightbox-image
      #lightbox-imageset

  #lightbox-backdrop

