-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

!!!
%html{:lang => I18n.locale.to_s, :dir => (rtl?) ? 'rtl' : 'ltr'}
  %head
    %meta{:charset => 'utf-8'}

    %title
      = page_title yield(:page_title)

    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}

    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    %link{:rel => 'shortcut icon', :href => '/favicon.png'}
    %link{:rel => 'apple-touch-icon', :href => '/apple-touch-icon.png'}

    / Social Media Icons are by Paul Robert Lloyd @ http://paulrobertlloyd.com/2009/06/social_media_icons
    = stylesheet_link_tag "login", :media => 'screen'

    = stylesheet_link_tag "blueprint/screen", :media => 'screen'
    = stylesheet_link_tag "blueprint/print", :media => 'print'
    = include_stylesheets :popup, :media => 'all'

    - if rtl?
      = include_stylesheets :rtl, :media => 'all'

    <!--[if IE]>
    = javascript_include_tag "/javascripts/ie.js"
    <![endif]-->

    = javascript_include_tag "/javascripts/jquery.js"

    = csrf_meta_tag

  %body{:class => "#{yield(:body_class)}"}
    %header
      = image_tag('asterisk_white.png', :height => 20, :width => 20, :id => 'asterisk')
      Grant Account Access

    = yield

    %footer
      = "logged in as #{current_user.name}"

